<% layout('../layout') -%>

<div class="row">
	<%- partial('../partials/left')%>
	<div class="col m9 l10">
		<p class="right-align"><a href="pages/new" class="btn btn-green">New page</a></p>
	</div>
	<div class="col m9 l10 content">
		<table class="table">
			<thead>
				<th>Title</th>
				<th>Description</th>
				<th>URL</th>
				<th>Date</th>
			</thead>
			<tbody>
			<% data.forEach(function(item){ %>
				<tr>
					<td><a href="pages/<%=item._id %>"><%=item.title %></a></td>
					<td><%=item.description %></td>
					<td><%=item.url %></td>
					<td><%=item.date.toDateString() %></td>
				</tr>
			<% }); %>	
			</tbody>
		</table>
	</div>
</div>